/* Variables */
:root {
    --background-color: #0C080D;
    --container-border-color: #fefefe;
    --font-1: Helvetica;
    --font-1-size: 25px;
    --text-color: #8EBDC4;
    --white-color: #FEFEFE;
    --title-font: arial;
    --p-font: serif;
    --header-background-color: #990c0c ;
    --top-footer-background-color: #950505;
    --bottom-footer-background-color: #640a0a;
    --body-background-color: #fcfcfc;
}

/* Normalizer */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: red solid 1px;*/
}

body {
    background-color: var(--body-background-color);
}

/* Body container */
.body-container {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    flex: 1;
}

/* Area container */
.area-container {
    display: flex;
    flex-flow: row;
}

.left-area {
    width: 10%;
}

.right-area {
    width: 10%
}

.center-area {
    width: 80%;
    display: flex;
    flex-flow: column;
}

.header-section {
    width: 100%;
    padding: 1rem 0;
}

/* Header */
.header-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#header {
    background-color: var(--header-background-color);
    background-image: url("/img/background-header.jpg");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.logo-img {
    width: 150px;
}

.searchbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.searchbox input {
    width: 100%;
    border-radius: 30px;
    padding: 0.5rem;
    border: 0px;
}

.navigation-bar {
    width: 35%;
    align-items: center;
    align-content: center;
}

.navigation-bar nav ul {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.navigation-bar nav ul li {
    font-family: var(--title-font);
    font-weight: 600;
    color: white;
    list-style: none;
}

/* Main */
#main {
    flex: 1;
}

.product-section {
    display: flex;
    flex-flow: row;
    padding: 2rem 0;
}

.product-left {
    width: 65%;
}

.product-right {
    width: 35%;
}

.card {
    display: flex;
    flex-flow: row;
}

.product-title {
    font-family: var(--title-font);
    padding: 0 0 1rem 0;
}

.product-details-container {
    display: flex;
    flex-flow: column;
}

.product-details {
    padding: 0rem 1rem;
    width: 100%;
}

.product-img .cover {
    width: 200px;
}

.product-details .product-box {
    width: 100%;
    display: flex;
    flex-flow: row;
}

.product-box .left {
    width: 30%;
    color: var(--p-color);
}

.product-box .right {
    width: 70%;
}

.synopse {
    padding: 2rem 0rem 0rem 1rem;
}

/* Footer */

.top-footer {
    background-color: var(--top-footer-background-color);
}

.bottom-footer {
    background-color: var(--bottom-footer-background-color);
}

.footer-section {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 1rem 0;
}

.footer-list {
    display: flex;
    flex-flow: column;
    list-style: none;
    color: white;
    font-family: var(--title-font);
}

.footer-list.social-media {
    display: flex;
    flex-flow: row;
    list-style: none;
    color: white;
    font-family: var(--title-font);
}

.footer-list li.title {
    font-weight: 600;
    padding-bottom: 1rem;
    font-size: 1.25rem !important;
}

.footer-list li {
    padding-bottom: 0.5rem;
    font-size: 1rem;
}

.bottom-footer-list {
    display: flex;
    flex-flow: row;
    list-style: none;
    justify-content: space-between;
    width: 100%;
}

.logo-small {
    width: 75px;
}

.bottom-footer-list .title {
    font-weight: 600;
    color: white;
    font-family: var(--title-font);
    font-size: 1rem;
}

.bottom-footer-list li {
    color: white;
    font-size: 0.75rem;
}

.footer-list.social-media li {
    margin: 1rem;
    font-size: 2rem;
}

.button-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: center;
    height: 60%;
    padding: 2rem;
}

.button {
    height: 3rem;
}

.button span {
    font-size: 1.25rem;
    font-family: var(--title-font);
}

.social-media-container span {
    font-size: 1.25rem;
    color: white;
    font-family: var(--title-font);
}


/* Breakpoints */

/* Móviles pequeños (portrait) */
@media (max-width: 480px) {
  /* estilos para pantallas muy pequeñas */
    body {
        background-color: black;
    }
}

/* Móviles grandes / phablets */
@media (max-width: 768px) {
  /* estilos para móviles y tablets pequeñas */
    body {
        background-color: orange; 
    }
    .left-area {
        width: 0%;
    }
    .right-area {
        width: 0%;
    }
    .center-area {
        padding: 1rem;
    }
    .footer-section {
        flex-flow: column;
        align-content: center;
        justify-content: center;
    }
}

/* Tablets en horizontal / pantallas medianas */
@media (max-width: 1024px) {
  /* estilos para tablets y laptops pequeñas */
}

/* Laptops / pantallas medianas-grandes */
@media (max-width: 1280px) {
  /* estilos para laptops estándar */
}

/* Monitores grandes */
@media (max-width: 1440px) {
  /* estilos para desktops grandes */
}

/* Pantallas extra grandes */
@media (min-width: 1600px) {
  /* estilos para pantallas muy grandes */
}