/* Variables
 * Se realiza uso de variables por comodidad, mayormente para poder evaluar cómo quedan 
 * algunos estilos aplicados a múltiples clases/elementos simplemente cambiando un valor 
 * de variable en DevTools.
 */
:root {
    --title-font: Arial;
    --p-font: Helvetica;
    --header-background-color: #990c0c ;
    --top-footer-background-color: #950505ab;
    --bottom-footer-background-color: #640a0a;
    --body-background-color: #fcfcfc;
}

/* Normalizador
 * Estos estilos ponen por defecto todos los margin y padding a 0. Esto facilitará 
 * enormemente la tarea de crear un wireframe y evitará posibles errores de maquetado 
 * por no tener debidamente en cuenta márgenes y paddings preexistentes que asignan 
 * normalmente los navegadores.
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-background-color);
}

/* Body container
 * Es el principal contenedor de la página. Se emplea flexbox en columna para situar
 * los elementos de manera vertical. Además se provee de una altura mínima de 100vh
 * y la propiedad flex se ajusta a 1 para asegurar que el contenedor ocupe todo el
 * espacio disponible y que la altura se ajuste como mínimo siempre a todo el viewport.
 */
.body-container {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    flex: 1;
}

/* Area container 
 * Esta estructura la empleo dentro de cada elemento principal (header, cuerpo y footer)
 * para distribuirla visualmente en tres partes horizontalmente (row), de modo que los
 * "márgenes" aparentes a derecha e izquierda tengan un porcentaje (10%) del ancho del
 * viewport.
 */
.area-container {
    display: flex;
    flex-flow: row;
}

.left-area {
    width: 10%;
}

.right-area {
    width: 10%
}

.center-area {
    width: 80%;
    display: flex;
    flex-flow: column;
}

/* Header
 * En la cabecera, además de un contenedor area-container emplearemos un contenedor 
 * específico header-container para distribuir los elementos en la cabecera de modo
 * horizontal y con justificado "space-between" para que se ajusten a los márgenes
 * izquierdo y derecho.
 */

.header-section {
    width: 100%;
    padding: 1rem 0;
}

.header-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

/* Empleamos propiedades de imagen, color, position, repeat, size y blend-mode para
 * crear una cabecera con un color sólido y una imagen mezclados. Usamos la
 * propiedad background-position en cover para que el fondo cubra todo el espacio 
 * y blend-mode para mezclar el color sólido de la propiedad color con la imagen.
 */
#header {
    background-color: var(--header-background-color);
    background-image: url("/img/background-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.logo-img {
    width: 150px;
}

.searchbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.searchbox input {
    width: 100%;
    border-radius: 30px;
    padding: 0.5rem;
    border: 0px;
}

.navigation-bar {
    width: 35%;
    align-items: center;
    align-content: center;
}

.navigation-bar nav ul {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.navigation-bar nav ul li {
    font-family: var(--title-font);
    font-weight: 600;
    color: white;
    list-style: none;
}

/* Main */
#main {
    flex: 1;
}

.product-section {
    display: flex;
    flex-flow: row;
    padding: 2rem 0;
}

.product-left {
    width: 65%;
}

.product-right {
    width: 35%;
}

.card {
    display: flex;
    flex-flow: row;
}

.product-title {
    font-family: var(--title-font);
    padding: 0 0 1rem 0;
}

.product-details-container {
    display: flex;
    flex-flow: column;
}

.product-details {
    padding: 0rem 1rem;
    width: 100%;
}

.product-img .cover {
    width: 200px;
}

.product-details .product-box {
    width: 100%;
    display: flex;
    flex-flow: row;
}

.product-box .left {
    width: 30%;
    color: var(--p-color);
}

.product-box .right {
    width: 70%;
}

.synopsis {
    padding: 2rem 0rem 0rem 1rem;
}

/* Footer */

.top-footer {
    background-color: var(--top-footer-background-color);
}

.bottom-footer {
    background-color: var(--bottom-footer-background-color);
}

/* Aplicamos aquí la misma estrategia que en el footer con la imagen de fondo.
 */
.area-container.top-footer {
    background-image: url("/img/background-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.footer-section {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 1rem 0;
}

.footer-list {
    display: flex;
    flex-flow: column;
    list-style: none;
    color: white;
    font-family: var(--title-font);
}

.footer-list.social-media {
    display: flex;
    flex-flow: row;
    list-style: none;
    color: white;
    font-family: var(--title-font);
}

.footer-list li.title {
    font-weight: 600;
    padding-bottom: 1rem;
    font-size: 1.25rem !important;
}

.footer-list li {
    padding-bottom: 0.5rem;
    font-size: 1rem;
    text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
    font-weight: bolder;
}

.bottom-footer-list {
    display: flex;
    flex-flow: row;
    list-style: none;
    justify-content: space-between;
    width: 100%;
}

.logo-small {
    width: 75px;
}

.bottom-footer-list .title {
    font-weight: 600;
    color: white;
    font-family: var(--title-font);
    font-size: 1rem;
}

.bottom-footer-list li {
    color: white;
    font-size: 0.75rem;
}

.footer-list.social-media li {
    margin: 1rem;
    font-size: 2rem;
}

.button-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: center;
    height: 60%;
    padding: 2rem;
}

.button {
    height: 3rem;
}

.button span {
    font-size: 1.25rem;
    font-family: var(--title-font);
}

.social-media-container span {
    font-size: 1.25rem;
    color: white;
    font-family: var(--title-font);
    text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
    font-weight: bolder;
}


/* Breakpoints */

/* Móviles pequeños (portrait) */
@media (max-width: 480px) {
    body {
        background-color: black;
    }
}

/* Móviles grandes / phablets */
@media (max-width: 768px) {
    body {
        background-color: orange; 
    }
    .left-area {
        width: 0%;
    }
    .right-area {
        width: 0%;
    }
    .center-area {
        padding: 1rem;
    }
    .footer-section {
        flex-flow: column;
        align-content: center;
        justify-content: center;
    }
}

/* Tablets en horizontal / pantallas medianas */
@media (max-width: 1024px) {
}

/* Laptops / pantallas medianas-grandes */
@media (max-width: 1280px) {
}

/* Monitores grandes */
@media (max-width: 1440px) {
}

/* Pantallas extra grandes */
@media (min-width: 1600px) {
}